body {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcfaf2; /* 背景顏色 */
  color: #373c38;/* 字體顏色 */
  line-height: 1.6;
  background-image: url('https://img.freepik.com/free-photo/white-paper-texture_1194-2324.jpg'); /* 背景圖片 */
  background-repeat: repeat; /* 重複顯示背景圖片 */
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #373c38;
  text-decoration: none;
}

a:hover {
  color: #a5dee4; 
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 4%;
}


/* 頁首部分-----------------------------------*/
header {
  background-color: #fcfaf2; /* 背景顏色 */
  padding: 20px 0;
}
/* 標誌 */
.instagram {
  width: 25px;
  margin-top: 4px;
  justify-content: flex-start;
} 
.youtube {
  width: 30px;
  margin-top: 5px;
  justify-content: flex-start;
} 
/* 標誌 */
/* 主導航菜單 */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  font-size: 1.4rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #7db9df;/* 背景顏色 */ 
  color: #fcfaf2;/* 字體顏色 */
}
/* 主導航菜單 */
/* 影片 */
.video-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin-top: -99px;
  margin-bottom: 40px;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 影片 */
/* 頁首部分-----------------------------------*/


/* 首頁網頁-----------------------------------*/
#home {
  text-align: center;
  padding: 100px 0;
}
#home h1 {
  font-size: 3rem;
  border-bottom: 2px #7db9df solid;/* 線顏色 */
}
#home p {
  font-size: 1.2rem;
}
#portfolio {
  padding: 80px 0;
}
#portfolio h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);/* 透明顏色 */
  color: #fcfaf2;/* 字體顏色 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.grid-item:hover .overlay {
  opacity: 1;
}
.grid-item .overlay h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-align: center;
}
.grid-item .overlay p {
  font-size: 1rem;
  text-align: center;
}
.simple-photo {
  width: 700px;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 25px;
  flex: 0 0 auto; /* 不伸縮 */
  margin-right: 20px; /* 調整圖片與文字間距 */
}
.about-content {
  display: flex;
  align-items: center; /* 垂直置中對齊 */ 
  transition: transform 0.3s ease;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* .recommend iframe {
  height: 250px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}*/


/* 首頁網頁-----------------------------------*/


/* 關於我網頁---------------------------------*/
#about {
  padding: 80px 0;
}
#about h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
#about h3 {
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 20px;
  border-bottom: 2px #7db9df solid;/* 線顏色 */
}
#about h4 {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 12px;
  margin-left: 10px;
}
#about p {
  font-size: 20px;
}
.h4content {
  font-size: 16px;
  margin-left: 10px;
}
.container-photo {
  width: 700px;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 25px;
}
.go {
  color: #373c38;
  width: 100%;
}
/* 關於我網頁---------------------------------*/


/* 留言板網頁---------------------------------*/
#contact {
  padding: 80px 0;
  margin-left: 100px;
}

#contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.comments {
  margin-bottom: 40px;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-text {
  flex: 1;
}

.comment-form {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fcfaf2;
  border-radius: 5px;
}

form button {
  background-color: #373c38; 
  color: #fcfaf2;/* 字體顏色 */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #7db9df; 
}

/* 留言板網頁---------------------------------*/


/* 頁尾元素----------------------------------*/
footer {
  text-align: center;
  background-color: #373c38;/* 背景顏色 */
  color: #fcfaf2;/* 字體顏色 */
  padding: 20px 0;
}
.fo,a {
  color: #fcfaf2;/* 字體顏色 */
  margin-bottom: 10px ;
  font-size: 18px;
}
.youtub-2 {
  width: 39px;
  margin-bottom: -10px;
  margin-right: 29px ;
}
.instagram-2 {
  width: 35px;
  margin-bottom: -7px;
  margin-right: 10px ;
}
.Flickr {
  margin-right: 45px ;
}



/* 頁尾元素----------------------------------*/
 
/* 漢堡選單元素----------------------------------*/
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fcfaf2;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav ul li {
  margin-right: 20px;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li a {
  color: #373c38;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: #373c38;
  margin: 4px 0;
  transition: transform 0.3s ease;
}

  .hamburger {
      display: flex;
  }

  .main-nav ul {
      display: none;
      flex-direction: column;
      background-color: #fcfaf2;
      position: absolute;
      top: 55px;
      left: 0;
      right: -10;
      padding: 20px;
      z-index: 99;

  }

  .main-nav ul li {
      margin: 10px 0;
  }

  .main-nav ul.show {
      display: flex;
  }

  .hamburger.open div:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open div:nth-child(2) {
      opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
  }
/* 漢堡選單元素----------------------------------*/






/* 響應式 CSS */

/* 手機版響應式 320 */
@media only screen and (max-width: 320px) {
body {
  padding: 0 10px;
}

header {
  padding: 2px 0;
  background-color: #fcfaf2; /* 背景顏色 */
  margin-left: -9px;
  margin-right: -9px;
}

/* 響應式 頁首  */
nav ul li {
  margin: 0 5px;
  line-height: 20px ;
}

nav ul li a {
  font-size: 0.7rem;
}

.video-container {
  margin-top: -99px;
}

.instagram {
  width: 15px;
  margin-top: 4px;
} 

.youtube {
  width: 20px;
  margin-top: 5px;
}
/* 響應式 頁首  */

/* 響應式 首頁  */
#home h1 {
  font-size: 1rem;
  margin-top: -40px;
  margin-bottom: -250px;
}

#about p {
  font-size: 0.5rem;
}

#about h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

#about h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.container-photo {
  width: 250px;
  margin-bottom: 20px;
  margin-top: -150px;
}

.simple-photo {
  width: 250px;
  margin-bottom: 20px;
  margin-top: -70px;
}

.about-content {
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
/* 響應式 首頁  */

#portfolio h2 {
  font-size: 1rem;
  margin-bottom: 30px;
}

.grid-item img {
  border-radius: 8px;
}

.grid {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-top: -150px;
}

/* 響應式 留言板  */
.googleform {
  width: 300px;
  margin-top: -150px;
  margin-bottom: 20px;
  margin-left: -100px;
}
.comment {
  margin-left: -80px;
}
.comment h4 {
  font-size: 0.7rem;
}
.comment p {
  font-size: 0.5rem;
}
.comment-form {
  margin-left: -80px;   
}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
form input[type="text"],
form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fcfaf2;
  border-radius: 5px;
}
form button {
  padding: 8px 15px;
  border-radius: 5px;
}

/* 響應式 留言板  */

/* 響應式 首尾  */
footer {
  padding: 10px 0;
  font-size: 0.5rem;
}

footer div {
  padding: 10px 0;
}
/* 響應式 頁尾  */

/* 響應式 漢堡選單  */
.hamburger div {
  width: 25px;
  height: 2px;
  background-color: #373c38;
  margin: 3px 0;
  transition: transform 0.3s ease;
}

.main-nav ul {
    top: 55px;
    left: 0;
    right: -10;
    padding: 20px;
    z-index: 99;

}

.main-nav ul li {
    margin: 10px 0;
}
/* 響應式 漢堡選單  */


}
/* 手機版響應式 320 */



/* 平板及桌面響應式 720 */
@media only screen and (min-width: 880px) {

/* 響應式 頁首  */
nav ul li {
  margin: 0 15px;
  line-height: 20px ;
}

nav ul li a {
  font-size: 10px;
}

.video-container {
  margin-top: -99px;
}

.instagram {
  width: 15px;
  margin-top: 4px;
} 

.youtube {
  width: 20px;
  margin-top: 5px;
}

/* 響應式 頁首  */


/* 響應式 首頁  */
#home h1 {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: -100px;
}

#about p {
  font-size: 1rem;
}

#about h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

#about h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.container {
  padding: 0 20px;
}

.container-photo {
  width: 500px;
  margin-bottom: 20px;
}

.simple-photo {
  width: 500px;
  margin-bottom: 20px;
}

.about-content {
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* 響應式 首頁  */

#portfolio h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.grid {
  gap: 20px;
}

.grid-item img {
  border-radius: 10px;
}

/* 響應式 漢堡選單  */
.hamburger div {
  width: 30px;
  height: 2px;
  background-color: #373c38;
  margin: 4px 0;
  transition: transform 0.3s ease;
}
.main-nav ul {
    top: 0px;
    left: 0;
    right: -10;
    padding: 20px;
    z-index: 99;

}
.main-nav ul li {
    margin: 10px 0;
}
/* 響應式 漢堡選單  */



}
/* 平板及桌面響應式 720 */



/* 大型桌面響應式 */
@media only screen and (min-width: 1024px) {

/* 響應式 頁首  */
nav ul li {
margin: 0 20px;
line-height: 20px ;
}

nav ul li a {
font-size: 1.4rem;
padding: 10px 20px;
border-radius: 5px;
transition: background-color 0.3s ease;
margin-left: 100px;
}

.video-container {
margin-top: -99px;
}

.instagram {
width: 25px;
margin-top: 4px;
} 
.youtube {
width: 30px;
margin-top: 5px;
}
/* 響應式 頁首  */

/* 響應式 首頁  */
.container {
max-width: 1400px;
margin: 0 auto;
padding: 0 40px;
}
#home h1 {
font-size: 3rem;
}


#about p {
font-size: 23px;
margin-top: 10px;
}

#about h2 {
font-size: 2.5rem;
margin-bottom: 40px;
}

#about h3 {
font-size: 36px;
margin-bottom: 5px;
margin-top: 10px;
}

#about h4 {
font-size: 30px;
margin-bottom: 5px;
margin-top: 12px;
margin-left: 18px;
}

.container-photo {
width: 800px;
margin-bottom: 20px;
}

.simple-photo {
width: 800px;
margin-bottom: 40px;
margin-top: 0px;
}

.about-content {
flex-direction: column;
align-items: center;
padding: 20px 0;
}
/* 響應式 首頁  */

#portfolio h2 {
font-size: 3rem;
margin-bottom: 40px;
}

.grid-item img {
border-radius: 12px;
}

.grid {
gap: 30px;
}

/* 響應式 留言板  */
.googleform {
width: 800px;
margin-bottom: 20px;
margin-left: 400px;
}
.comment {
margin-left: 400px;
}
.comment h4 {
font-size: 1.5rem;
}
.comment p {
font-size: 1.3rem;
}
.comment-form {
margin-left: 400px; 
}
.avatar img {
width: 60px;
height: 60px;
border-radius: 50%;
margin-right: 20px;
}
form input[type="text"],
form textarea {
width: 120%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #fcfaf2;
border-radius: 5px;
}
form button {
padding: 8px 15px;
border-radius: 5px;
}

/* 響應式 留言板  */

/* 響應式 首尾  */
footer div {
padding: 20px 0;
}
/* 響應式 頁尾  */

/* 響應式 漢堡選單  */
.hamburger div {
  width: 45px;
  height: 3px;
  background-color: #373c38;
  margin: 6px 0;
  transition: transform 0.3s ease;
  margin-left: 30px;
}

.main-nav ul {
    top: 110px;
    left: 0;
    right: -10;
    padding: 20px;
    z-index: 99;
    font-size: 3rem;

}

.main-nav ul li {
    margin: 20px 0px;
}
/* 響應式 漢堡選單  */

}


/* 大型桌面響應式 */