body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfaf2; /* 背景顏色 */
    color: #373c38;/* 字體顏色 */
    line-height: 1.6;
    background-image: url('https://img.freepik.com/free-photo/white-paper-texture_1194-2324.jpg'); /* 背景圖片 */
    background-repeat: repeat; /* 重複顯示背景圖片 */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  a {
    color: #373c38;
    text-decoration: none;
  }
  
  a:hover {
    color: #a5dee4; 
  }


/* 頁首部分-----------------------------------*/
  header {
    background-color: #fcfaf2; /* 背景顏色 */
    padding: 20px 0;
  }
/* 標誌 */
  .instagram {
    width: 25px;
    margin-top: 4px;
    justify-content: flex-start;
 } 
 .youtube {
    width: 30px;
    margin-top: 5px;
    justify-content: flex-start;
 } 
/* 標誌 */
/* 主導航菜單 */
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    font-size: 1.4rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #7db9df;/* 背景顏色 */ 
    color: #fcfaf2;/* 字體顏色 */
  }
/* 主導航菜單 */
/* 影片 */
.video-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin-top: 10px;
  }
  
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* 影片 */
/* 頁首部分-----------------------------------*/


/* 首頁網頁-----------------------------------*/
  #home {
    text-align: center;
    padding: 100px 0;
  }
  
  #home h1 {
    font-size: 3rem;
    margin-bottom: -100px;
    border-bottom: 2px #7db9df solid;/* 線顏色 */
  }
  
  #home p {
    font-size: 1.2rem;
  }
  #portfolio {
    padding: 80px 0;
  }
  
  #portfolio h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);/* 透明顏色 */
    color: #fcfaf2;/* 字體顏色 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .grid-item:hover .overlay {
    opacity: 1;
  }
  
  .grid-item .overlay h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  
  .grid-item .overlay p {
    font-size: 1rem;
    text-align: center;
  }

  .simple-photo {
    width: 700px;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 25px;
  }
/* 首頁網頁-----------------------------------*/


/* 關於我網頁---------------------------------*/
  #about {
    padding: 80px 0;
  }
  
  #about h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  #about h3 {
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 20px;
    border-bottom: 2px #7db9df solid;/* 線顏色 */
  }

  #about h4 {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 12px;
    margin-left: 10px;
  }

  #about p {
    font-size: 22px;
  }

  .h4content {
    font-size: 16px;
    margin-left: 10px;
  }

  .container-photo {
    width: 700px;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 25px;
  }
/* 關於我網頁---------------------------------*/


/* 留言板網頁---------------------------------*/
  #contact {
    padding: 80px 0;
  }
  
  #contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .comments {
    margin-bottom: 40px;
  }
  
  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .comment-text {
    flex: 1;
  }
  
  .comment-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  form input[type="text"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fcfaf2;
    border-radius: 5px;
  }
  
  form button {
    background-color: #373c38; 
    color: #fcfaf2;/* 字體顏色 */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #7db9df; 
  }
/* 留言板網頁---------------------------------*/


/* 頁尾元素----------------------------------*/
  footer {
    text-align: center;
    background-color: #373c38;/* 背景顏色 */
    color: #fcfaf2;/* 字體顏色 */
    padding: 20px 0;
  }
/* 頁尾元素----------------------------------*/
   
   